.competition h1 {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0.4em;
  float: left;
  position: relative;
  bottom: 0.5em
}

.competition h2 {
  font-size: 1.4em;
}

.competition h3 {
  color: #000;
  font-size: 1.4em;
}

.competition header {
  @include line-under($primary-color);
}

.competition .schedule {
  font-size: 1.6em;
  margin: 0.5em 0 0.5em;
  text-align: left;
  float: right;
}

.competition .date {
  display: block;
}

.competition #description {
  margin-bottom: 2em;
}

.competition #teams {
  margin-left: 2em;
}

.competition ul {
  padding: 0;
  list-style: none;
}

.competition footer {
  margin-top: 2em;
  text-align: right;

  li {
    display: inline-block;
  }
}
