- @competitions.each do |competition|
  %section.competition
    %header
      %h1 #{competition.name}
      %div.clearfix
    %p
      Start Date: #{formatted_date(competition.start)}
    %p
      End Date: #{formatted_date(competition.end)}
    %p
      %a{:href => url("/competitions/#{competition.id}")}
        Details
