- @competitions.each do |competition|
  %section.competition
    %header
      %h1 #{competition.name}
    %p
      Start Date: #{competition.formatted_start}
    %p
      End Date: #{competition.formatted_end}
    %p
      %a{:href => url("/competitions/#{competition._id}")}
        Details
