%form{:method => 'post', :action => url('/competitions'),
      :id => "competition"}
  %div.clearfix
    %input#comp-name{:name => 'comp_name',
                     :size => 30,
                     :type => 'text',
                     :placeholder => 'New Competition Name'}
  %div.clearfix
    %input.time{:type  => 'text',
                :name  => 'start_date',
                :value => Date.today.strftime('%Y-%m-%d')}
    %input.time{:type  => 'text',
                :name  => 'start_time',
                :value => '6:00pm'}
    to
    %input.time{:type  => 'text',
                :name  => 'end_date',
                :value => (Date.today + 1).strftime('%Y-%m-%d')}
    %input.time{:type  => 'text',
                :name  => 'end_time',
                :value => '6:00pm'}

    %select#timezone{:name => "timezone"}
      - @zones.each do |timezone|
        %option{:value => timezone.identifier}
          = timezone.to_option

  %input#submit{:type => 'submit', :value => 'Create Competition'}
