%section.competition
  %h1 #{@competition.name}

  %p
    #{formatted_date(@competition.start)}
    to
    #{formatted_date(@competition.end)}
  - if authorized?
    %p
      %a.button{:href => url("/competitions/#{@competition.id}/edit")}
        Edit
