!!!
%html
  %head
    %title OSGCC
    %link{:rel => 'stylesheet',
          :href => '/stylesheets/style.css'}
    %script{:type => 'text/javascript',
      :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{:type => 'text/javascript',
            :src => 'http://cachedcommons.org/cache/datejs/1.0.0/javascripts/date-min.js'}

      /* competitions */
      input.comp-name {
        height: 48px;
        font-size: 48px;
        line-height: 58px;
      }

  %body
    = haml :'home/_top_bar'
    .container-fluid
      = haml :'home/_sidebar'
      .content
        = yield

