#validation-errors {
  display: inline-block;
  padding: 1em;
  margin-bottom: 4em;
  color: $error-color;
  line-height: 0;
  border: 2px solid $error-color;
}

form, input, select, textarea {
  color: $primary-color;
}

.form-group {
  display: inline-block;
}

label {
  display:block;
  font-size: 1.3em;
}

input.name {
  margin: 0.2em 0 1em;
  height: 1.5em;
  width: 99%;
  font-size: 2.5em;
}

textarea {
  margin: 0.4em 0 2em;
  padding: 0.3em;
  width: 98%;
  font-size: 1.2em;
}

input.time {
  display: inline-block;
  margin: 0 3em 2em 0;
  width: 9em;
  font-size: 1.3em;
}

input.last {
  margin-right: 0;
}

select#timezone {
  font-size: 1.3em;
  padding: 0.3em;
  margin: 0 1em 4em 0;
}

input#submit {
  margin-left: 4.5em;
  font-size: 1.5em;
  -webkit-appearance: button;
  border-width: 0.1em;
  float: right;
}

form .button {
  font-size: 1em;
}
