.competition h1 {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0.4em;
  float: left;
  position: relative;
  bottom: 0.5em
}

.competition h2 {
  font-size: 1.4em;
}

.competition h3 {
  color: #000;
  font-size: 1.4em;
}

.competition header {
  border-bottom: 2px solid #2C9113;
}

.competition p.schedule {
  text-align: right;
  font-size: 1.6em;
  margin: 0.5em 0 0.5em 15em;
  text-align: left;
}

.competition span.date {
  display: block;
}

.competition #description {
  margin-bottom: 2em;
}

.competition #teams {
  margin-left: 2em;
}

.competition ul {
  padding: 0;
  list-style: none;
}

.competition .team {
  padding-left: 1em;
  padding-bottom: 1.5em;
  margin-left: 1.5em;
  border-bottom: 2px solid #2C9113;
}

.competition .team-members li {
  display: inline-block;
}

.competition .team .member {
  padding: 0.5em 0;
  margin-left: 1.5em;
}

.competition .join, .competition .leave {
  font-size: 1em;
  margin-left: 1.5em;
}

.competition .team .leave:hover {
  color: #FC7988;
  border-color: #FC7988;
}

.competition footer {
  margin-top: 2em;
  text-align: right;
}
