body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  text-decoration: underline;
}

a.button {
  color: #fff;
  background-color: #2C9113;
  text-decoration: none;
  padding: 0.3em 1.2em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0.2em solid #2C9113;
}
a.button:hover {
  color: #2C9113;
  background-color: #FFF;
}

header {
  background: #2C9113;
}

header .header-wrap{
  height: 11em;
  width: 80%;
  margin: 0 auto;
  padding: 0.1em;
  color: white;
}

header .header-wrap h1 {
  font-size: 3em;
}

header .header-wrap a {
  text-decoration: none;
  color: white;
}

header .header-wrap ul.account {
  list-style: none;
  float: right;
  display: block;
}

header .header-wrap ul.account li {
  display: inline-block;
  margin-right: 1.5em;
  padding: 0.3em 0.6em;
  border: 0.2em solid #2C9113;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

header .header-wrap ul.account li:hover {
  background: #FFF;
}

header .header-wrap ul.account li:hover a {
  color: #2C9113;
}

header .header-wrap nav {
  position: absolute;
  margin-top: -2.3em;
}

header .header-wrap nav ul {
  list-style: none;
  font-size: 1.5em;
}

header .header-wrap nav ul li {
  display: inline-block;
  padding: 4px 0 6px;
  margin-right: 1.5em;
  line-height: 1.5em;
  float: left;
  border: 0.2em solid #2C9113;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

nav ul li a {
  padding: 0 0.5em;
}

header .header-wrap nav ul li:hover {
  background: white;
}
header .header-wrap nav ul li:hover a {
  color: #2C9113;
}

li.dropdown ul.dropdown-menu {
  display: none;
  color: #2C9113;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: white;
}

li.dropdown ul.dropdown-menu a {
  color: #2C9113;
}
li.dropdown ul.dropdown-menu li:hover a {
  color: #FFF;
}

li.dropdown:hover ul.dropdown-menu {
  display: block;
}

li.dropdown:hover ul.dropdown-menu li {
  margin: 0.3em 0em;
  padding-left: 1.6em;
  font-size: 0.9em;
  display: block;
  float: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

li.dropdown:hover ul.dropdown-menu li:hover {
  color: #FFF;
  background-color: #2C9113;
}

.content header {
  background: none;
}

/* body */

.container-fluid {
  width: 80%;
  margin: 4em auto;
}

.clearfix {
  display: block;
}
