body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* competitions */
input.comp-name {
  height: 48px;
  font-size: 48px;
  line-height: 58px;
}
