%header
  .header-wrap
    %ul.account
      - if logged_in?
        %li
          %a{:href => "https://github.com/#{current_user.username}"}
            #{current_user.username}
        %li
          %a{:href => url('/logout')}
            Log out
      - else
        %li
          %a{:href => url('/login')}
            Log In

    %h1
      %a{:href => '/'}
        OSGCC

    %nav
      %ul
        %li
          %a{:href => url('/about')}
            About
        %li.dropdown
          %a.dropdown-toggle{:href => '#'} Competitions
          %ul.dropdown-menu
            %li
              %a{:href => '/competitions'}
                All
            %li
              %a{:href => '/competitions/past'}
                Past
            %li
              %a{:href => '/competitions/upcoming'}
                Upcoming
            %li
              %a{:href => url('/competitions/new')}
                Create New

            -#
              - if (current_comps.length)
                %li.divider
                each comp, comp_id in current_comps
                  %li
                    %a{:href => '/competition/#{comp._id}'}
                      #{comp.name}
        %li
          %a{:href => url('/contact')}
            Contact

