%aside
  .well
    %h2 Sidebar
    %ul
      %li
        %a{:href => '#'}
          Link
      %li
        %a{:href => '#'}
          Link
      %li
        %a{:href => '#'}
          Link
      %li
        %a{:href => '#'}
          Link
